TF_VAR_db_user="postgres"
TF_VAR_db_password="default"
TF_VAR_db_name="postgres"

TF_VAR_database_url="postgresql://postgres:default@localhost:5432/postgres?schema=public"
TF_VAR_nextauth_url="http://localhost:3000"
TF_VAR_nextauth_secret="your-secret-here"
TF_VAR_auth_url="http://localhost:3000"
TF_VAR_auth_secret="your-secret-here"
TF_VAR_google_client_id="client-id.apps.googleusercontent.com"
TF_VAR_google_client_secret="your-secret-here"
TF_VAR_resend_apikey="your-secret-here"
